<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>

    <div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('form1') }}">Form1</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
